.cardCart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid ;
    border-color: #d3cece;
    border-width: 1px;
}
.imgCart{
    height: 160px;
    width: 140px;

}
.articleName{
    width: 190px;
    background-color: hotpink;
}
.selectQ{
    background-color: aquamarine;
}

.priceCart{
    width: 190px;
    background-color: burlywood;
}
.totalCart{
    width: 190px;
    background-color: cadetblue;
}
