.cartOverlay{
    width:100%;
    height: 100vh ;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    transition: all .3s ease-out;

}

.cartHolder{
    height: 100vh;
    width: 500px;
    background-color: royalblue;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .5s ease-in,
}

.hidden{
    top:0;
    right: 0;
    transform: translateX(1000px);
    visibility: hidden;
    

}

.hidden2{
    opacity: 0;
    visibility: hidden;

}

/*-------- Carrito styles------------*/

.cartRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
}
.cartRow div img{
    width: 100px;
    border-radius: 10px;

}

.cartRow > div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.cartRow > div:nth-child(2) input{
    width: 30px;
}

.cartRow > div:last-child{
    align-self: flex-end;
}
.cartRow > div:last-child span:first-child{
    color: red;
    margin-right: 10px;
    cursor: pointer;
}