.view{
    background-image: url('https://ak1.ostkcdn.com/images/products/is/images/direct/d0eb2365c0ca7e7d7a1805e34ede146f903ec47d/Seabrook-Designs-Rainforest-Leaves-Unpasted-Wallpaper.jpg?impolicy=medium');
}
.viewContent{
    display: flex;
    margin: 25px 25px 0px 25px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    
    
}
.imageProduct img{
    display: flex;
    margin: 10px 20px;
    padding: 10px;
    width: 361 px;
    height: 461px;
}
.detail{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 0px 20px;
    flex-wrap: wrap;
    font-size: 18px;
}
.title{
    color: rgb(66, 15, 6);
    margin: 25px 0px;
    padding: 10px 0px;
    text-align: center;
}
.description p{
    margin: 15px 0px;
    padding: 15px 0px;
}
.description span :nth-child(1){
    display: inline;
    color:rgb(127, 44, 204);
}
.description p a{
    font-weight: 580;
    text-decoration: none;
    color:rgb(0, 0, 0);
    
}

.cartButton{

    border: 1.5px solid rgb(0, 0, 0);
    color: black;
    background-color: white;
    padding: 16px 32px 16px 32px;
    font-weight: bolder;
    font-size: 15px;
    margin:  0px;
    text-decoration: none;
    
}
.cartButton:hover {
    background-color:black;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
  }

 