.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ecebeb;
    margin:30px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    
}
.cardBody h4{
    color: rgb(66, 15, 6); 
    margin:8px 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.price{
    display: flex;
    text-align: lefts;
    margin: 5px 0px 10px 12px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    

}
.like{
    margin-left: 20px;
}
.medium{
    width: 251px;
    height: 321px;
}