.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ecebeb;
    margin:30px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    
}
.cardBody h4{
    color: rgb(66, 15, 6); 
    margin:8px 0px;
    text-align: center;

}
.price{
    text-align: lefts;
    color: rgb(136, 34, 16);
    margin: 5px 0px 10px 12px;
    font-size: 15px;

}
.medium{
    width: 241px;
    height: 321px;
}