header{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    
    margin-top: 0%;
    padding: 15px 0px;
    
    border-bottom-style: solid ;
    border-color: #cac8c8;
    border-width: 1px;
}




header a{
    color: rgb(26, 25, 25);
    padding: 1rem;
    font-size: 23px;
    text-decoration: none;
    
}

.firstNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 100px;
    background-color: slategray;
    
}

.search {
    
   display: flex; 
   
}
menu{
    align-self: flex-end;
}


nav{
    align-self: flex-end;

}

nav a{
    font-size: 16px;
    color:rgb(146, 142, 137);
    
}





