header{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    
    margin-top: 0%;
    padding: 15px 0px;
    
    border-bottom-style: solid ;
    border-color: #cac8c8;
    border-width: 1px;
}




header a{
    color: rgb(26, 25, 25);
    padding: 1rem;
    font-size: 23px;
    text-decoration: none;
    
}

.firstNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 370px;
    height: 85px;
    
    
}

.search {
    
   display: flex; 
   box-sizing: border-box;
   background-color: blueviolet;
   
}
.searchBar{
    border: solid 1px;
    border-color: rgb(177, 170, 161);
    height: 32px;
    width: 200px;
    
}
.searchSent{
    border:none;
    
    height: 32px;
    background-color: rgb(75, 71, 71);

}
menu{
    align-self: flex-end;
}


nav{
    align-self: flex-end;

}

nav a{
    font-size: 16px;
    color:rgb(146, 142, 137);
    
}





