header{
    display: flex;
    background-color: #94618E;
    margin-top: 0%;
    padding: 30px 0px;
    
}
a {
    text-decoration: none;
}

header a{
    color: whitesmoke;
    padding: 1rem;
    font-size: 23px;

    
}

