footer{
    display: flexbox;
    margin: 10px 0px;
    background-color: #94618E;
    padding: 12px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li a{
    text-decoration: none;
    display: block;
    padding: 3px 0px;
    color: whitesmoke;
    
}
h4{
    margin: 15px 0px;
    color: whitesmoke;
    
}
.footerContent{
    display: flex;
    margin: 5px 0px;
    
}
.menuBar{
    text-align: center;
    width: 25%;
    
}

input{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 14px;
    height: 28px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   
}
button{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.SocialSites{
    display: flex;
    margin: 25px 0px;
    justify-content: center;
}
.SocialSites a{
    margin: 12px;
   

}
.copyRight{
    text-align: center;
    color: whitesmoke;
    margin: 12px 0px;
}
