
*{
  box-sizing: border-box;
  
}
.active{
  color: rgb(87, 85, 84);
  font-size: 18px;
  margin: 0px 5px 0px 5px;
}

.headband{
  background-image: url("https://comps.canstockphoto.es/patr%C3%B3n-seamless-tribal-boho-clip-art-vectorial_csp30325511.jpg");
  
  height: 32px;
}