

.active{
  color: peru;
  font-size: 20px;
  
}

.headband{
  background-image: url("https://comps.canstockphoto.es/patr%C3%B3n-seamless-tribal-boho-clip-art-vectorial_csp30325511.jpg");
  
  height: 32px;
}